ENV=production
LOG_LEVEL=info
SERVER_ADDRESS=0.0.0.0:4000
SSR_PORT=4000
HOST=0.0.0.0
TZ=Europe/Warsaw

# Traefik / Let's Encrypt
DOMAIN=localhost
ACME_EMAIL=rudepeeter@gmail.com

# Rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASS=admin
